@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
    box-sizing: border-box;
}

body {
    max-width: 640px;
    margin: 70px auto 50px auto;
    font-size: 20px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.5em;
}

h1 {
    text-align: center;
    margin-bottom: 80px;
}

code {
    background: rgba(0, 0, 0, 0.05);
    padding: 0 3px;
    border-radius: 3px;
}